<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Calendar Glance"
    Manufacturer="Midtown Technology Group LLC"
    Version="$(var.Version)"
    UpgradeCode="{6E79E967-9481-4274-B646-6100A5057022}"
    InstallerVersion="500"
    Scope="perMachine">

    <SummaryInformation Description="Calendar Glance installer" Manufacturer="Midtown Technology Group LLC" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Calendar Glance is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLROOT" Name="Midtown Technology Group">
        <Directory Id="INSTALLFOLDER" Name="Calendar Glance" />
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Calendar Glance" Level="1">
      <ComponentGroupRef Id="ToolComponents" />
    </Feature>

    <ComponentGroup Id="ToolComponents" Directory="INSTALLFOLDER">
      <Component Id="ToolExecutableComponent" Guid="*">
        <File Id="ToolExecutable" Source="$(var.BinDir)\calendar-glance.exe" KeyPath="yes" />
      </Component>
      <Component Id="PathComponent" Guid="{C032A089-E965-4B44-87F0-60CDE4A48C04}">
        <CreateFolder />
        <Environment
          Id="ToolPathEntry"
          Action="set"
          Name="PATH"
          Part="last"
          Permanent="no"
          System="yes"
          Value="[INSTALLFOLDER]" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
